html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('images/download (1).jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    padding: 0;
}

.header {
    background-color: rgba(13, 13, 73, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #098b8b;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 15px;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header nav a:hover {
    color: #098b8b;
    text-decoration: underline;
}

.content {
    flex: 1; 
    max-width: 800px;
    margin: 20px auto;
    background: rgba(177, 173, 173, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #050505;
}

h2 {
    text-align: center;
    color: #098b8b;
    animation: slideIn 1s ease-in-out; 
}

p {
    animation: fadeIn 1.5s ease-in-out; 
}

button {
    background-color: #098b8b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.3s ease; 
    animation: slideIn 1.5s ease-in-out; 
}

button:hover {
    background-color: #555;
    transform: scale(1.05); 
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(23, 53, 23, 0.9);
    color: #e0e0e0;
    font-size: 0.9em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .content {
        padding: 10px;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 1em;
        box-sizing: border-box;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .footer {
        padding: 15px;
        font-size: 0.8em;
    }
}
